/**
 * @name Discord 11
 * @description Based in Windows 11 UI
 * @author zuzumi#8097
 * @authorId 403725623161257984
 * @version 2.2
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/hurtyoutube
 * @website https:github.com/zuzumi-f
 * @source https://github.com/zuzumi-f/Discord-11/blob/main/base.css
*/

/*------------------------------------------------------------
   Theme Import change styles with base.css or base-old.css
      you can't disable this, is the full theme dummy
------------------------------------------------------------*/
@import url(https://zuzumi-f.github.io/Discord-11/base.css);

/*--------------------------------------------------------------
                             Colors
---------------------------------------------------------------*/
/*---Change colors with Purple.css, Green.css or Red.css ⬇️⬇️---*/
@import url(https://zuzumi-f.github.io/Discord-11/colors/Blue.css);

/*--------------------------------------------------------------
Message bubble styles [If you don't want any place a /* in all]
----------------------------------------------------------------*/
/* Message Bubble in Left Side */
@import url(https://zuzumi-f.github.io/Discord-11/messagebubbleleft.css);
/* Default Message Bubble *//*
@import url(https://zuzumi-f.github.io/Discord-11/messagebubble11.css);
/* New Message Bubble *//*
@import url(https://zuzumi-f.github.io/Discord-11/messagebubblenew.css);

/*--------------------------------------------------------------
                           Glass effect
         [To see your desk put "none" in --wallpaper-is:
                               and
               enable Transparency in BD Settings]
---------------------------------------------------------------*/
/*--Yes you can enable/disable this--*//*
@import url(https://zuzumi-f.github.io/Discord-11/glass-effect.css);

:root {
    --wallpaper-is: url(https://i0.wp.com/hipertextual.com/wp-content/uploads/2021/06/Windows-11-Wallpaper-1-1-scaled.jpg);
    --blur-size: 24px;
    --opacity-thing: 0.6;
}

/*--------------------------------------------------------------
                        Code Watermark
            [This indicate what code are you using
         replace "display" with "none" to disable it]
---------------------------------------------------------------*/
:root {
    --watermark-code: display;
}

/*----------------------------------------------------
                anything else down here
------------------------------------------------------*/
