#app-mount .message-2CShn3.selected-2LX7Jy[data-is-author-self="true"] {
    width: auto;
}
#app-mount .message-2CShn3.selected-2LX7Jy[data-is-author-self="true"] .contents-2MsGLg {
    width: 100%;
}

#app-mount .cozy-VmLDNB.wrapper-30-Nkg .contents-2MsGLg .header-2jRmjb {
    padding: 8px;
    padding-bottom: 4px;
}
#app-mount .cozy-VmLDNB.groupStart-3Mlgv1 .contents-2MsGLg .messageContent-2t3eCI:not(:empty) {
    padding-top: 0;
}
#app-mount .cozy-VmLDNB .contents-2MsGLg > .messageContent-2t3eCI:not(:empty) {
    margin-left: 0;
    padding: 8px;
}

#app-mount .compact-2Nkcau .contents-2MsGLg {
    padding: 8px;
}

#app-mount .contents-2MsGLg {
    background-color: var(--background-secondary);
    border-radius: 4px;
    width: fit-content;
}
#app-mount .contents-2MsGLg {
    display: inline-block;
    max-width: 100%;
}
#app-mount .message-2CShn3 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
#app-mount .message-2CShn3:hover .contents-2MsGLg,
#app-mount .message-2CShn3.selected-2LX7Jy .contents-2MsGLg {
    background-color: var(--background-secondary-alt);
}

#app-mount .compact-2Nkcau .contents-2MsGLg {
    margin-left: -64px;
    padding-left: 4rem;
}
#app-mount .mentioned-Tre-dv.compact-2Nkcau .contents-2MsGLg .messageContent-2t3eCI::before {
    left: -4px;
}
#app-mount .replying-eZ7p5z.compact-2Nkcau .contents-2MsGLg .messageContent-2t3eCI::before {
    left: -4px;
}

#app-mount .mentioned-Tre-dv .contents-2MsGLg {
    background-color: var(--background-mentioned);
}
#app-mount .mentioned-Tre-dv:hover .contents-2MsGLg,
#app-mount .mentioned-Tre-dv.selected-2LX7Jy .contents-2MsGLg {
    background-color: var(--background-mentioned-hover);
}
#app-mount .mentioned-Tre-dv .contents-2MsGLg .messageContent-2t3eCI::before {
    background-color: var(--info-warning-foreground);
    content: "";
    position: absolute;
    display: block;
    left: 0;
    pointer-events: none;
    width: 3px;
    height: 16px;
    margin-top: 3px;
    border-radius: 1.5px;
    z-index: 1;
}
#app-mount .mentioned-Tre-dv:before {
    display: none;
}

#app-mount .repliedMessage-3Z6XBG {
    background-color: var(--background-message-hover);
    margin-bottom: 0;
    padding: 6px;
    border-radius: 3px;
    width: fit-content;
    max-width: 80vh;
}

#app-mount .replying-eZ7p5z .contents-2MsGLg {
    background-color: var(--brand-experiment-05a);
}
#app-mount .replying-eZ7p5z:hover .contents-2MsGLg,
#app-mount .replying-eZ7p5z.selected-2LX7Jy .contents-2MsGLg {
    background-color: var(--brand-experiment-10a);
}
#app-mount .replying-eZ7p5z .contents-2MsGLg .messageContent-2t3eCI::before {
    background-color: var(--brand-experiment);
    content: "";
    position: absolute;
    display: block;
    left: 0;
    pointer-events: none;
    width: 3px;
    height: 16px;
    margin-top: 3px;
    border-radius: 1.5px;
    z-index: 1;
}
.replying-eZ7p5z:before {
    display: none;
}
.repliedMessage-3Z6XBG:before {
    display: none;
}
