#app-mount .message-2CShn3[data-is-author-self="true"] {
    margin-left: auto;
    width: auto;
}
#app-mount .message-2CShn3[data-is-author-self="true"] .contents-2MsGLg {
    display: block;
}
#app-mount .message-2CShn3.selected-2LX7Jy[data-is-author-self=true] .contents-2MsGLg {
    width: 100%;
}
#app-mount .message-2CShn3[data-is-author-self="true"] .timestamp-p1Df1m {
    left: unset;
    right: -4px;
}
#app-mount .message-2CShn3[data-is-author-self="true"] .repliedMessage-3Z6XBG {
    margin-left: auto;
}

#app-mount .replying-eZ7p5z[data-is-author-self="true"] .contents-2MsGLg .messageContent-2t3eCI::before, #app-mount .mentioned-Tre-dv[data-is-author-self="true"] .contents-2MsGLg .messageContent-2t3eCI::before {
    left: unset;
    right: -10px;
}

#app-mount .message-2CShn3[data-is-author-self="true"] .contents-2MsGLg {
    margin-left: auto;
}
#app-mount .message-2CShn3[data-is-author-self="true"] .contents-2MsGLg .messageContent-2t3eCI {
    overflow: visible;
}

#app-mount .message-2CShn3[data-is-author-self="true"] a:not(.embed-hKpSrO .embedAuthorNameLink-1NK1y6) {
    margin-left: auto;
}

#app-mount .message-2CShn3[data-is-author-self="true"] .avatar-2e8lTP {
    display: none;
}
#app-mount .message-2CShn3[data-is-author-self="true"] .headerText-2z4IhQ {
    display: none;
}
#app-mount .message-2CShn3[data-is-author-self="true"] .header-2jRmjb {
    text-align: end;
}
#app-mount .message-2CShn3[data-is-author-self="true"] .repliedMessage-3Z6XBG:before {
    display: none;
}

#app-mount .message-2CShn3[data-is-author-self="true"] .container-2sjPya>* {
    place-self: flex-end;
    width: fit-content;
}
#app-mount .message-2CShn3[data-is-author-self="true"] .container-2sjPya .imageWrapper-oMkQl4 {
    margin-left: auto;
}

#app-mount .contents-2MsGLg {
    background-color: var(--background-secondary);
    padding: 8px;
    border-radius: 3px;
    width: fit-content;
}
#app-mount .contents-2MsGLg {
    display: inline-block;
    max-width: 100%;
}
#app-mount .message-2CShn3 {
    max-width: 100%;
}
#app-mount .message-2CShn3:hover .contents-2MsGLg,
#app-mount .message-2CShn3.selected-2LX7Jy .contents-2MsGLg {
    background-color: var(--background-secondary-alt);
}

#app-mount .compact-2Nkcau .contents-2MsGLg {
    margin-left: -64px;
    padding-left: 4rem;
}
#app-mount .mentioned-Tre-dv.compact-2Nkcau .contents-2MsGLg .messageContent-2t3eCI::before {
    left: -4px;
}
#app-mount .replying-eZ7p5z.compact-2Nkcau .contents-2MsGLg .messageContent-2t3eCI::before {
    left: -4px;
}

#app-mount .mentioned-Tre-dv .contents-2MsGLg {
    background-color: var(--background-mentioned);
}
#app-mount .mentioned-Tre-dv:hover .contents-2MsGLg,
#app-mount .mentioned-Tre-dv.selected-2LX7Jy .contents-2MsGLg {
    background-color: var(--background-mentioned-hover);
}
#app-mount .mentioned-Tre-dv .contents-2MsGLg .messageContent-2t3eCI::before {
    background-color: var(--info-warning-foreground);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 62px;
    bottom: 0;
    pointer-events: none;
    width: 4px;
    border-radius: 8px;
    z-index: 1;
}
#app-mount .mentioned-Tre-dv:before {
    display: none;
}

#app-mount .repliedMessage-3Z6XBG {
    background-color: var(--background-message-hover);
    margin-bottom: 0;
    padding: 6px;
    border-radius: 3px;
    width: fit-content;
    max-width: 80vh;
}

#app-mount .replying-eZ7p5z .contents-2MsGLg {
    background-color: var(--brand-experiment-05a);
}
#app-mount .replying-eZ7p5z:hover .contents-2MsGLg,
#app-mount .replying-eZ7p5z.selected-2LX7Jy .contents-2MsGLg {
    background-color: var(--brand-experiment-10a);
}
#app-mount .replying-eZ7p5z .contents-2MsGLg .messageContent-2t3eCI::before {
    background-color: var(--brand-experiment);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 62px;
    bottom: 0;
    pointer-events: none;
    width: 4px;
    border-radius: 8px;
    z-index: 1;
}
.replying-eZ7p5z:before {
    display: none;
}
.repliedMessage-3Z6XBG:before {
    display: none;
}
