[data-popout-root], html {
    --brand-experiment-100: hsl(0, 77.8%, 98.2%);
    --brand-experiment-130: hsl(0, 87.5%, 96.9%);
    --brand-experiment-160: hsl(0, 84.6%, 94.9%);
    --brand-experiment-200: hsl(0, 83.3%, 92.9%);
    --brand-experiment-230: hsl(0, 87%, 91%);
    --brand-experiment-260: hsl(0, 86.2%, 88.6%);
    --brand-experiment-300: hsl(0, 86.1%, 85.9%);
    --brand-experiment-330: hsl(0, 85.1%, 81.6%);
    --brand-experiment-360: hsl(0, 86.1%, 77.5%);
    --brand-experiment-400: hsl(0, 86.1%, 71.8%);
    --brand-experiment-430: hsl(0, 85.7%, 69.8%);
    --brand-experiment-460: hsl(0, 85.5%, 67.5%);
    --brand-experiment: hsl(0, 87%, 65%);
    --brand-experiment-500: hsl(0, 85.6%, 64.7%);
    --brand-experiment-530: hsl(0, 66.7%, 58.8%);
    --brand-experiment-560: hsl(0, 51.4%, 52.4%);
    --brand-experiment-600: hsl(0, 46.7%, 44.1%);
    --brand-experiment-630: hsl(0, 46.7%, 38.2%);
    --brand-experiment-660: hsl(0, 47.1%, 33.3%);
    --brand-experiment-700: hsl(0, 47%, 25.9%);
    --brand-experiment-730: hsl(0, 46.8%, 24.3%);
    --brand-experiment-760: hsl(0, 46.9%, 22.2%);
    --brand-experiment-800: hsl(0, 47.5%, 19.4%);
    --brand-experiment-830: hsl(0, 47.4%, 14.9%);
    --brand-experiment-860: hsl(0, 46.9%, 9.6%);
    --brand-experiment-900: hsl(0, 50%, 3.1%);
    --brand-experiment-05a: hsla(0, 85.6%, 64.7%, 0.05);
    --brand-experiment-10a: hsla(0, 85.6%, 64.7%, 0.1);
    --brand-experiment-15a: hsla(0, 85.6%, 64.7%, 0.15);
    --brand-experiment-20a: hsla(0, 85.6%, 64.7%, 0.2);
    --brand-experiment-25a: hsla(0, 85.6%, 64.7%, 0.25);
    --brand-experiment-30a: hsla(0, 85.6%, 64.7%, 0.3);
    --brand-experiment-35a: hsla(0, 85.6%, 64.7%, 0.35);
    --brand-experiment-40a: hsla(0, 85.6%, 64.7%, 0.4);
    --brand-experiment-45a: hsla(0, 85.6%, 64.7%, 0.45);
    --brand-experiment-50a: hsla(0, 85.6%, 64.7%, 0.5);
    --brand-experiment-55a: hsla(0, 85.6%, 64.7%, 0.55);
    --brand-experiment-60a: hsla(0, 85.6%, 64.7%, 0.6);
    --brand-experiment-65a: hsla(0, 85.6%, 64.7%, 0.65);
    --brand-experiment-70a: hsla(0, 85.6%, 64.7%, 0.7);
    --brand-experiment-75a: hsla(0, 85.6%, 64.7%, 0.75);
    --brand-experiment-80a: hsla(0, 85.6%, 64.7%, 0.8);
    --brand-experiment-85a: hsla(0, 85.6%, 64.7%, 0.85);
    --brand-experiment-90a: hsla(0, 85.6%, 64.7%, 0.9);
    --brand-experiment-95a: hsla(0, 85.6%, 64.7%, 0.95);
}
.theme-dark{
    --control-brand-foreground: hsl(0, 86.1%, 77.5%);
}
.theme-dark, .theme-light {
    --text-link: hsl(0, 100%, 47.8%);
    --text-link-low-saturation: hsl(0, 100%, 52.9%);
    --control-brand-foreground-new: hsl(0, 86.1%, 77.5%);
    --info-help-foreground: hsl(10, 100%, 47.8%);
}
.theme-light {
    --blue-button-bg: hsl(0, 100%, 36%);
    --blue-button-hover: hsl(0, 77%, 42%);
    --blue-button-border: hsl(0, 80%, 41%);
    --blue-button-top: hsl(0, 81%, 41%);
    --blue-button-bottom: hsl(0, 85%, 27%);
    --control-brand-foreground: hsl(0, 100%, 36%);
}
