/* Glass Effect */
.appMount_ea7e65,
body,
.app_a01fb1,
.scroller_fea3ef,
.wrapper_fea3ef,
.membersWrap_cbd271 {
    background: transparent;
}
.scroller_fea3ef {
    height: calc(100% - ((var(--server-size)*2) + 16px)) !important;
}
.scroller_fea3ef::before {
    background: none !important;
    height: calc((var(--server-size)*2) + 16px);
}
#app-mount .bg_d4b6c5 {
    background: transparent;
}

.theme-dark .bg_d4b6c5 {
    background-color: #000;
}

.theme-light .bg_d4b6c5 {
    background-color: #fff;
}

div#app-mount.appMount_ea7e65::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(var(--background-blur));
    background-image: var(--wallpaper-is);
    background-position: center;
    background-size: cover;
}

.standardSidebarView_c25c6d::before {
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    filter: blur(var(--background-blur));
    background-image: var(--wallpaper-is);
    opacity: calc(var(--background-opacity)*-2);
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.theme-dark .layers_d4b6c5 > [class="layer_d4b6c5"] {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .layers_d4b6c5 > [class="layer_d4b6c5"] {
    background-color: hsla(0, 0%, 96%, 0.4) !important;
}

.standardSidebarView_c25c6d,
.sidebarRegionScroller_c25c6d,
.contentRegion_c25c6d,
.contentRegionShownSidebar_c25c6d {
    background: transparent  !important;
}

.theme-dark .container_c2739c,
.theme-dark .applicationStore_cecc86 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .container_c2739c,
.theme-light .applicationStore_cecc86 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

.container_e44302.themed_e44302,
.nowPlayingColumn_c2739c,
.container_bf550a {
    background-color: transparent !important;
}
.children_e44302:after {
    display: none;
}

.theme-dark .sidebar_a4d4d9 .scroller_c47fa9 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .sidebar_a4d4d9 .scroller_c47fa9 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

.privateChannels_f0963d {
    background-color: transparent;
}
.sidebar_a4d4d9 {
    background: none;
}
.scroller_fea3ef {
    padding-bottom: 0 !important;
}

.theme-dark .panels_a4d4d9 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}
.theme-light .panels_a4d4d9 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

.theme-dark .folder_bc7085.hover_bc7085,
.theme-dark .expandedFolderBackground_bc7085 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .folder_bc7085.hover_bc7085,
.theme-light .expandedFolderBackground_bc7085 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

.folder_bc7085 {
    background-color: transparent;
}

.theme-dark .circleIconButton_db6521 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}
.theme-dark .childWrapper_a6ce15 {
    background-color: hsla(0, 0%, 6%, 0.6);
}

.theme-light .circleIconButton_db6521 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}
.theme-light .childWrapper_a6ce15 {
    background-color: hsla(0, 0%, 96%, 0.3);
}

.theme-dark .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header,
.theme-dark .container_cbd271 {
    background: hsla(0, 0%, 8%, 0.3) !important;
}

.theme-light .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header,
.theme-light .container_cbd271 {
    background: hsla(0, 0%, 98%, 0.15) !important;
}

.members_cbd271,
.members_cbd271 > div {
    background-color: transparent !important;
}
#dv-mount,
#MemberCount {
    background-color: transparent !important;
}

#app-mount .form_a7d72e:before {
    display: none;
}

.theme-dark .chat_a7d72e,
.theme-dark .container_d1c246 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}
.theme-dark .container_ee69e0 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .chat_a7d72e,
.theme-light .container_d1c246 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}
.theme-light .container_ee69e0 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

.chatContent_a7d72e,
.channelTextArea_a7d72e {
    background-color: transparent !important;
}

.wrapper_ba0ffb,
.wrapper_b211c6 {
    background-color: transparent !important;
}

.theme-dark .sidebar_a4d4d9 .searchBar_f0963d {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .sidebar_a4d4d9 .searchBar_f0963d {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

#app-mount .ChannelDms-channelmembers-wrap .scroller_c47fa9 {
    background-color: transparent;
}
#app-mount .ChannelDms-channelmembers-wrap .searchBar_f0963d {
    background-color: transparent !important;
    border-bottom-color: transparent !important;
}

.theme-dark .ChannelDms-channelmembers-wrap .privateChannels_f0963d {
    background-color: hsla(0, 0%, 8%, 0.3) !important;
}

.theme-light .ChannelDms-channelmembers-wrap .privateChannels_f0963d {
    background-color: hsla(0, 0%, 98%, 0.15) !important;
}

.theme-dark .emptyCard_f02fcf {
    background-color: hsla(0, 0%, 6%, 0.4) !important;
}

.theme-light .emptyCard_f02fcf {
    background-color: hsla(0, 0%, 96%, 0.2) !important;
}

.theme-dark .itemCard_f02fcf {
    background-color: hsla(0, 0%, 6%, 0.4) !important;
}
.theme-dark .itemCard_f02fcf:hover,
.theme-dark .itemCard_f02fcf.active_c0f6a6 {
    background-color: hsla(0, 0%, 8%, 0.6) !important;
}

.theme-light .itemCard_f02fcf {
    background-color: hsla(0, 0%, 96%, 0.2) !important;
}
.theme-light .itemCard_f02fcf:hover,
.theme-light .itemCard_f02fcf.active_c0f6a6 {
    background-color: hsla(0, 0%, 98%, 0.3) !important;
}

#app-mount .inset_c0f6a6 {
    background-color: transparent !important;
}

.theme-dark .section_cd82a7 {
    background-color: hsla(0, 0%, 8%, 0.3) !important;
}

.theme-light .section_cd82a7 {
    background-color: hsla(0, 0%, 98%, 0.15) !important;
}

.theme-dark .peopleColumn_c2739c .peopleListItem_d51464 {
    background-color: hsla(0, 0%, 8%, 0.3) !important;
}

.theme-light .peopleColumn_c2739c .peopleListItem_d51464 {
    background-color: hsla(0, 0%, 98%, 0.15) !important;
}

.theme-dark .actions_e05dae .actionButton_e01b91 {
    background-color: hsla(0, 0%, 16%, 0.6) !important;
    border: 1px solid hsla(0, 0%, 17%, 0.6) !important;
    border-top-color: hsla(0, 0%, 19%, 0.6) !important;
    border-bottom-color: hsla(0, 0%, 17%, 0.6) !important;
}
.theme-dark .actions_e05dae .actionButton_e01b91:hover {
    background-color: hsla(0, 0%, 18%, 0.6) !important;
}

.theme-light .actions_e05dae .actionButton_e01b91 {
    background-color: hsla(0, 0%, 99%, 0.3) !important;
    border: 1px solid hsla(0, 0%, 93%, 0.3) !important;
    border-top-color: hsla(0, 0%, 93%, 0.3) !important;
    border-bottom-color: hsla(0, 0%, 86%, 0.3) !important;
}
.theme-light .actions_e05dae .actionButton_e01b91:hover {
    background-color: hsla(0, 0%, 98%, 0.3) !important;
}

.theme-dark .container_b2ca13,
.theme-dark .activityPanel_a4d4d9,
.theme-dark .container_adcaac,
.theme-dark .container-6sXIoE {
    background-color: hsla(0, 0%, 0%, 0.2) !important;
}

.theme-light .container_b2ca13,
.theme-light .activityPanel_a4d4d9,
.theme-light .container_adcaac,
.theme-light .container-6sXIoE {
    background-color: hsla(0, 0%, 90%, 0.1) !important;
}

.scroller__244e5 {
    background-color: transparent !important;
}

#app-mount .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
    --background-modifier-selected: hsla(0, 0%, 40%, 0.4);
}

.theme-dark .sidebar_a4d4d9 .thin_eed6a8[dir=ltr] {
    background-color: hsla(0, 0%, 6%, 0.6);
}
.theme-dark .pageWrapper_a3a4ce {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}
.theme-dark .card_eb1ca6 {
    background-color: hsla(0, 0%, 12%, 0.6) !important;
}

.theme-light .sidebar_a4d4d9 .thin_eed6a8[dir=ltr] {
    background-color: hsla(0, 0%, 96%, 0.3);
}
.theme-light .pageWrapper_a3a4ce {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}
.theme-light .card_eb1ca6 {
    background-color: hsla(0, 0%, 100%, 0.3) !important;
}

.theme-dark .wrapper_c5f96a.selected_ae80f7 .childWrapper_a6ce15,
.theme-dark .wrapper_c5f96a:hover .childWrapper_a6ce15 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .wrapper_c5f96a.selected_ae80f7 .childWrapper_a6ce15,
.theme-light .wrapper_c5f96a:hover .childWrapper_a6ce15 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}
