/* Message Bubble */
#app-mount .message_d5deea[data-is-author-self="true"] {
    margin-left: auto;
    width: auto;
}
#app-mount .message_d5deea[data-is-author-self="true"] .contents_ec86aa {
    display: block;
}
#app-mount .message_d5deea.selected_d5deea[data-is-author-self=true] .contents_ec86aa {
    width: 100%;
}
#app-mount .message_d5deea[data-is-author-self="true"] .timestamp_ec86aa {
    left: unset;
    right: -4px;
}
#app-mount .message_d5deea[data-is-author-self="true"] .repliedMessage_ec86aa {
    margin-left: auto;
}

#app-mount .contents_ec86aa > .messageContent_ec86aa {
    overflow: visible;
}

#app-mount .replying_d5deea[data-is-author-self="true"]:before,
#app-mount .mentioned_d5deea[data-is-author-self="true"]:before {
    left: unset;
    right: 4px !important;
}

#app-mount .message_d5deea[data-is-author-self="true"] .contents_ec86aa {
    margin-left: auto;
}
#app-mount .message_d5deea[data-is-author-self="true"] .contents_ec86aa .messageContent_ec86aa {
    overflow: visible;
}

#app-mount .message_d5deea[data-is-author-self="true"] a:not(.embed_ad0b71 .embedAuthorNameLink_ad0b71) {
    margin-left: auto;
}
#app-mount .message_d5deea[data-is-author-self="true"] .avatar_ec86aa {
    display: none;
}
#app-mount .message_d5deea[data-is-author-self="true"] .headerText_ec86aa {
    display: none;
}
#app-mount .message_d5deea[data-is-author-self="true"] .header_ec86aa {
    text-align: end;
}
#app-mount .message_d5deea[data-is-author-self="true"] .repliedMessage_ec86aa:before {
    display: none;
}

#app-mount .message_d5deea[data-is-author-self="true"] .container_b558d0 {
    direction: rtl;
}
#app-mount .message_d5deea[data-is-author-self="true"] .embedAuthor_ad0b71 {
    direction: ltr;
}

#app-mount .cozy_ec86aa.wrapper_ec86aa .contents_ec86aa .header_ec86aa {
    padding: 8px;
    padding-bottom: 4px;
}
#app-mount .cozy_ec86aa.groupStart_d5deea .contents_ec86aa .messageContent_ec86aa:not(:empty, :first-child) {
    padding-top: 0;
}
#app-mount .cozy_ec86aa .contents_ec86aa > .messageContent_ec86aa:not(:empty) {
    margin-left: 0;
    padding: 8px;
}

#app-mount .compact_ec86aa .contents_ec86aa {
    padding: 8px;
}

#app-mount .contents_ec86aa pre {
    max-width: 100%;
}

#app-mount .contents_ec86aa {
    background-color: var(--background-secondary);
    border-radius: 3px;
    width: fit-content;
}
#app-mount .contents_ec86aa {
    display: inline-block;
    max-width: 100%;
}
#app-mount .message_d5deea {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    border-radius: 3px;
}
#app-mount .message_d5deea:hover .contents_ec86aa,
#app-mount .message_d5deea.selected_d5deea .contents_ec86aa {
    background-color: var(--background-secondary-alt);
}

#app-mount .compact_ec86aa .contents_ec86aa {
    margin-left: -64px;
    padding-left: 4rem;
}
#app-mount .mentioned_d5deea.compact_ec86aa .contents_ec86aa .messageContent_ec86aa::before {
    left: -4px;
}
#app-mount .replying_d5deea.compact_ec86aa .contents_ec86aa .messageContent_ec86aa::before {
    left: -4px;
}

#app-mount .mentioned_d5deea .contents_ec86aa {
    background-color: var(--background-mentioned);
}
#app-mount .mentioned_d5deea:hover .contents_ec86aa,
#app-mount .mentioned_d5deea.selected_d5deea .contents_ec86aa {
    background-color: var(--background-mentioned-hover);
}

#app-mount .repliedMessage_ec86aa {
    background-color: var(--background-message-hover);
    margin-bottom: 0;
    padding: 6px;
    border-radius: 3px;
    width: fit-content;
    max-width: 100%;
}
.repliedMessage_ec86aa:before {
    display: none;
}

#app-mount .replying_d5deea .contents_ec86aa {
    background-color: var(--brand-500-05a);
}
#app-mount .replying_d5deea:hover .contents_ec86aa,
#app-mount .replying_d5deea.selected_d5deea .contents_ec86aa {
    background-color: var(--brand-500-10a);
}

#app-mount .replying_d5deea:before {
    background-color: var(--brand-500);
}

#app-mount .mentioned_d5deea:before,
#app-mount .replying_d5deea:before {
    width: 3px;
    height: calc(100% - 12px);
    border-radius: 1.5px;
    left: 4px;
    top: 6px;
}

.a11y-font-scaled-down .cozy_ec86aa .header_ec86aa {
    margin-left: 0 !important;
}

#app-mount .contents_ec86aa .scrollableContainer_d0696b,
#app-mount .contents_ec86aa .operations_ed9386 {
    margin: 0 12px;
}

/* CharCounter Added */
#app-mount .contents_ec86aa .editCounter-pNT1Xe {
    margin: 0 12px;
}
#app-mount .contents_ec86aa .charCounterAdded-zz9O4t .scrollableContainer_d0696b {
    margin-bottom: 12px !important;
}
